@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a testing app that interacts with Twitter. The app can be scaled further to add new functionalities like Tweet to an account.</p>
<p>Few Notes:  </p>
<p>* Urls/Auth keys are stored in config file as they can be changed in future. Best practice is to store them in DB.</p>
<p>* URLs and authorization details/example can be viewed at twitter <a href="https://developer.twitter.com/en/community">developer community</a></p>
